.edit-menu
{
    z-index: 10000;
    background-color: #444;
    height: 50px;
    position: fixed;
    top: 0px;
    padding: 10px 11px 10px 10px;
    font-family: verdana;
    color: white;
}

.edit-menu a
{
    color: #eee;
    font-weight: bold;
}

.edit-menu a:hover
{
    color: #ccc;
    text-decoration: none;
}

.edit-mode
{
    background-color: #c0392b;
}

#cmsMenu
{
    background-color: #444;
    font-family: verdana;
    color: white;
}

#cmsMenu .nav-logo
{
    margin: 30px 0 20px 0;
}

#cmsMenu li
{
    margin-top: 10px;
}

#cmsMenu li a
{
    color: white;
}

#cmsMenu li a:hover
{
    color: #1c1d1d;
}

.properties {
    border: 1px dashed #dedede;
    background-color: #fefefe;
    padding: 15px 15px;
}