<style>
    body{
        font-family: 'Roboto', sans-serif;
        line-height: 1.6em;
        font-size: 75%;
    }

    .rowRegion {
        background-color: #3d4b56;
        color: #fff;
        padding: 7px 5px;
        font-size: 1.1em;
    }

    .rowCity {
        background-color: #8A9399;
        color: #fff;
        padding: 7px 5px;
        font-size: 1.1em;
        margin: 1px 0px;
    }

    .rowCity:hover {
        background-color: #778189;
        cursor:pointer;
    }

    .tableEstates {
        /*width: 100%;*/
    }

    .tableEstates tr th {
        background-color: #ece4db;
        border-color: #dbd4cc;
        border-style: solid;
        border-width: 0 0 1px;
        color: #343434;
        padding: 5px 5px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
    }

    .tableEstates tr td {
        background-color: #fcf7f2;
        padding: 5px 5px;
    }

    .tableEstates tr:hover td {
        cursor:pointer;
        background-color: #dad2cb;
    }

    /*.tableEstates th:nth-child(1), .tableEstates td:nth-child(1) {*/
        /*width: 100px;*/
    /*}*/
    /*.tableEstates th:nth-child(2), .tableEstates td:nth-child(2) {*/
        /*width: 300px;*/
    /*}*/

    .tableEstates tr th:nth-child(1) {
        width: 100px;
    }
    .tableEstates tr th:nth-child(2) {
        width: 300px;
    }
    .tableEstates tr th:nth-child(3) {
        width: 160px;
    }
    .tableEstates tr th:nth-child(5) {
        width: 70px;
    }
    .tableEstates tr th:nth-child(4), .tableEstates tr th:nth-child(6), .tableEstates tr th:nth-child(7) {
        width: 80px;
    }

    .tableEstates tr th:nth-child(3), .tableEstates tr th:nth-child(6) {
        text-align: center;
    }

    .tableEstates tr td:nth-child(1) {
        width: 100px;
    }
    .tableEstates tr td:nth-child(2) {
        width: 300px;
    }
    .tableEstates tr td:nth-child(3) {
        width: 160px;
    }
    .tableEstates tr td:nth-child(5) {
        width: 70px;
    }
    .tableEstates tr td:nth-child(4), .tableEstates tr td:nth-child(6), .tableEstates tr td:nth-child(7) {
        width: 80px;
    }


    .tablePackages {
        /*width: 100%;*/
    }

    .tablePackages tr th {
        background-color: #ece4db;
        border-color: #dbd4cc;
        border-style: solid;
        border-width: 0 0 1px;
        color: #343434;
        padding: 5px 5px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
    }

    .tablePackages tr td {
        background-color: #fcf7f2;
        padding: 5px 5px;
    }

    .tablePackages tr:hover td {
        cursor:pointer;
        background-color: #dad2cb;
    }

    .tablePackages th:nth-child(1) {
        width: 100px;
    }
    .tablePackages th:nth-child(2) {
        width: 300px;
    }
    .tablePackages th:nth-child(3) {
        width: 160px;
    }
    .tablePackages th:nth-child(5) {
        width: 70px;
    }
    .tablePackages th:nth-child(4), .tablePackages th:nth-child(6), .tablePackages th:nth-child(7) {
        width: 80px;
    }

    .tablePackages tr td:nth-child(1) {
        width: 100px;
    }
    .tablePackages tr td:nth-child(2) {
        width: 300px;
    }
    .tablePackages tr td:nth-child(3) {
        width: 160px;
    }
    .tablePackages tr td:nth-child(5) {
        width: 70px;
    }
    .tablePackages td:nth-child(4), .tablePackages td:nth-child(6), .tablePackages td:nth-child(7) {
        width: 80px;
    }

    .icon-bed {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right 5px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }

    .icon-bath {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right -15px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }

    .icon-garage {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right -34px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }

</style>

<div>

    <!--<h1>Regions Table</h1>-->
    <div ng-repeat="r in mpRegionList track by $index">
        <div class="rowRegion">{{ r.Region }}</div>

        <table class="tableEstates" cellspacing="0" cellpadding="0">
            <tr>
                <th>Suburb</th>
                <th>Estate</th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Home Details</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Home Size</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Lot Width</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Fixed Price</div>
                </th>
                <th>&nbsp;</th>
            </tr>
        </table>

        <div ng-repeat="e in r.EstateList track by $index">
            <table class="tableEstates" cellspacing="0" cellpadding="0">
                <tr ng-click='showPackages = !showPackages; openPackage(r.Region, showPackages);'>
                    <td>{{ e.City }} </td>
                    <td>{{ e.Estate }} ({{ e.Counter }})&nbsp;&nbsp;&nbsp;&nbsp;from {{ (e.LowestPrice | currency).slice(0, -3) }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <!--<div class="rowCity" ng-click="showPackages = !showPackages">{{ e.City }} {{ e.Estate }} ({{ e.Counter }}) - from {{ (e.LowestPrice | currency).slice(0, -3) }}</div>-->

            <table class="tablePackages" ng-show="showPackages" cellspacing="0" cellpadding="0">
                <!--<tr>-->
                    <!--&lt;!&ndash;<th>PackageID</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>City</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Region</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Estate</th>&ndash;&gt;-->
                    <!--<th>Lot</th>-->
                    <!--<th>House Name</th>-->
                    <!--<th style="text-align: center;">Home Details</th>-->
                    <!--<th>Home Size</th>-->
                    <!--<th>Lot Width</th>-->
                    <!--&lt;!&ndash;<th>Land Size</th>&ndash;&gt;-->
                    <!--<th style="text-align: center;">Price</th>-->
                    <!--&lt;!&ndash;<th>Home Area</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Storeys</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Bedrooms</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Bathrooms</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Car Parks</th>&ndash;&gt;-->
                    <!--<th style="text-align: center;">PDF</th>-->
                <!--</tr>-->
                <tr ng-cloak ng-repeat="p in e.Packages" ng-click="openPDF(p.PDFFile)">
                    <!--<td> {{ p.PackageID }} </td>-->
                    <!--<td> {{ p.City }} </td>-->
                    <!--<td> {{ p.Region }} </td>-->
                    <!--<td> {{ p.Estate }} </td>-->
                    <td> Lot {{ p.Lot }} </td>
                    <td> {{ p.Home }} </td>
                    <td style="text-align: center;"><i class="icon-bed"></i>&nbsp;{{ p.Bedrooms }}&nbsp;&nbsp;&nbsp;<i class="icon-bath"></i>&nbsp;{{ p.Bathrooms }}&nbsp;&nbsp;&nbsp;<i class="icon-garage"></i>&nbsp;{{ p.CarParks }}</td>
                    <td> {{ p.HomeSize }} sq </td>
                    <td> {{ (p.LotWidth | number:1) }}m </td>
                    <!--<td> {{ p.LotArea }}m2 </td>-->
                    <td style="text-align: center;"> {{ (p.HomePrice | currency).slice(0, -3) }} </td>
                    <!--<td> {{ p.HomeArea }} </td>-->
                    <!--<td> {{ p.Storeys }} </td>-->
                    <!--<td> {{ p.Bedrooms }} </td>-->
                    <!--<td> {{ p.Bathrooms }} </td>-->
                    <!--<td> {{ p.CarParks }} </td>-->
                    <td style="text-align: center;"><a ng-href="{{ p.PDFFile }}">Download</a></td>
                </tr>
            </table>
        </div>

    </div>


    <div>
        <br/><br/>
        <h1>Packages Table</h1>
        <!--<table>-->
            <!--<tr>-->
                <!--<th>PackageID</th>-->
                <!--<th>City</th>-->
                <!--<th>Region</th>-->
                <!--<th>Estate</th>-->
                <!--<th>Home</th>-->
                <!--<th>Lot</th>-->
                <!--<th>Lot Width</th>-->
                <!--<th>Lot Area</th>-->
                <!--<th>Home Price</th>-->
                <!--<th>Home Area</th>-->
                <!--<th>Home Size</th>-->
                <!--<th>Storeys</th>-->
                <!--<th>Bedrooms</th>-->
                <!--<th>Bathrooms</th>-->
                <!--<th>Car Parks</th>-->
                <!--<th>PDF File</th>-->
            <!--</tr>-->
            <!--<tr ng-cloak ng-repeat="p in mpData">-->
                <!--<td> {{ p.PackageID }} </td>-->
                <!--<td> {{ p.City }} </td>-->
                <!--<td> {{ p.Region }} </td>-->
                <!--<td> {{ p.Estate }} </td>-->
                <!--<td> {{ p.Home }} </td>-->
                <!--<td> {{ p.Lot }} </td>-->
                <!--<td> {{ p.LotWidth }} </td>-->
                <!--<td> {{ p.LotArea }} </td>-->
                <!--<td> {{ (p.HomePrice | currency).slice(0, -3) }} </td>-->
                <!--<td> {{ p.HomeArea }} </td>-->
                <!--<td> {{ p.HomeSize }} </td>-->
                <!--<td> {{ p.Storeys }} </td>-->
                <!--<td> {{ p.Bedrooms }} </td>-->
                <!--<td> {{ p.Bathrooms }} </td>-->
                <!--<td> {{ p.CarParks }} </td>-->
                <!--<td><a ng-href="{{ p.PDFFile }}">Download PDF</a></td>-->
            <!--</tr>-->
        <!--</table>-->

        <pre>
            {{ mpData }}
        </pre>
    </div>


</div>

