<style>
    body{
        font-family: 'Roboto', sans-serif;
        line-height: 1.5em;
        font-size: 1.15em;
    }

    .rowRegion {
        background-color: #3d4b56;
        color: #fff;
        padding: 7px 5px;
        font-size: 1.1em;
    }

    .rowCity {
        background-color: #8A9399;
        color: #fff;
        padding: 7px 5px;
        font-size: 1.1em;
        margin: 1px 0px;
    }

    .rowCity:hover {
        background-color: #778189;
        cursor:pointer;
    }

    .tableEstates {
        /*width: 100%;*/
    }

    .tableEstates tr th {
        background-color: #ece4db;
        border-color: #dbd4cc;
        border-style: solid;
        border-width: 0 0 1px;
        color: #343434;
        padding: 5px 5px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
    }

    .tableEstates tr td {
        background-color: #fcf7f2;
        padding: 5px 5px;
    }

    .tableEstates tr:hover td {
        cursor:pointer;
        background-color: #dad2cb;
    }

    /*.tableEstates th:nth-child(1), .tableEstates td:nth-child(1) {*/
        /*width: 100px;*/
    /*}*/
    /*.tableEstates th:nth-child(2), .tableEstates td:nth-child(2) {*/
        /*width: 300px;*/
    /*}*/

    .tableEstates tr th:nth-child(1) {
        width: 100px;
    }
    .tableEstates tr th:nth-child(2) {
        width: 300px;
    }
    .tableEstates tr th:nth-child(3) {
        width: 160px;
    }
    .tableEstates tr th:nth-child(5) {
        width: 70px;
    }
    .tableEstates tr th:nth-child(4), .tableEstates tr th:nth-child(6), .tableEstates tr th:nth-child(7) {
        width: 80px;
    }

    .tableEstates tr th:nth-child(3), .tableEstates tr th:nth-child(6) {
        text-align: center;
    }

    .tableEstates tr td:nth-child(1) {
        width: 100px;
    }
    .tableEstates tr td:nth-child(2) {
        width: 300px;
    }
    .tableEstates tr td:nth-child(3) {
        width: 160px;
    }
    .tableEstates tr td:nth-child(5) {
        width: 70px;
    }
    .tableEstates tr td:nth-child(4), .tableEstates tr td:nth-child(6), .tableEstates tr td:nth-child(7) {
        width: 80px;
    }


    .tablePackages {
        /*width: 100%;*/
    }

    .tablePackages tr th {
        background-color: #ece4db;
        border-color: #dbd4cc;
        border-style: solid;
        border-width: 0 0 1px;
        color: #343434;
        padding: 5px 5px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
    }

    .tablePackages tr td {
        background-color: #fcf7f2;
        padding: 5px 5px;
    }

    .tablePackages tr:hover td {
        cursor:pointer;
        background-color: #dad2cb;
    }

    .tablePackages th:nth-child(1) {
        width: 100px;
    }
    .tablePackages th:nth-child(2) {
        width: 300px;
    }
    .tablePackages th:nth-child(3) {
        width: 160px;
    }
    .tablePackages th:nth-child(5) {
        width: 70px;
    }
    .tablePackages th:nth-child(4), .tablePackages th:nth-child(6), .tablePackages th:nth-child(7) {
        width: 80px;
    }

    .tablePackages tr td:nth-child(1) {
        width: 100px;
    }
    .tablePackages tr td:nth-child(2) {
        width: 300px;
    }
    .tablePackages tr td:nth-child(3) {
        width: 160px;
    }
    .tablePackages tr td:nth-child(5) {
        width: 70px;
    }
    .tablePackages td:nth-child(4), .tablePackages td:nth-child(6), .tablePackages td:nth-child(7) {
        width: 80px;
    }

    .icon-bed {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right 5px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }

    .icon-bath {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right -15px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }

    .icon-garage {
        background: url('http://www.mainvuehomes.com.au/MainVue/media/MainVue/CSSImages/icon-sprite.png') no-repeat scroll transparent right -34px;
        width: 18px;
        height: 14px;
        display: inline-block;
    }


    .packageFilters {
        margin: 20px 0px;
    }

    .packageFilters .row {
        padding: 10px 0px;
        border-bottom: 1px solid #E7E7E7;
    }

    .packageFilters div {
        padding: 0px;
    }

    .packageFilters div.lbl {
        padding-top: 10px;
    }

    .packageFilters select.form-control {
        padding-right: 40px;
    }

    .packageFilters div.field{
        padding-right: 50px
    }

    .select2-container .select2-selection--single {
        background-color: #ECE4DB;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        height: 35px;
        cursor: pointer;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 35px;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #5897fb;
        color: white;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #ABABAB;
        color: #fff;
    }

    .select2-results__option[aria-selected] {
        cursor: pointer;
    }

    .select2-results__options {
        background-color: #ECE4DB;
    }

    .select2-dropdown {
        background-color: #ece4db;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    *:focus {outline: none; }

</style>

    <br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="packageFilters container-fluid">

        <!-- 1st row of filters -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Region</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="region">
                            <option value="">All regions</option>
                            <option value="west">West</option>
                            <option value="north">North</option>
                            <option value="south east">South East</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Suburb</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="suburb">
                            <option value="">All suburbs</option>
                            <option value="Beveridge">Beveridge</option>
                            <option value="Clyde North">Clyde North</option>
                            <option value="Craigieburn">Craigieburn</option>
                            <option value="Cranbourne West">Cranbourne West</option>
                            <option value="Doreen">Doreen</option>
                            <option value="Mickleham">Mickleham</option>
                            <option value="Plumpton">Plumpton</option>
                            <option value="Point Cook">Point Cook</option>
                            <option value="Rockbank">Rockbank</option>
                            <option value="Truganina">Truganina</option>
                            <option value="Werribee">Werribee</option>
                            <option value="Wollert">Wollert</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Estate</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="estate">
                            <option value="">All estates</option>
                            <option value="Aspire">Aspire</option>
                            <option value="Aston">Aston</option>
                            <option value="Delaray">Delaray</option>
                            <option value="Elements">Elements</option>
                            <option value="Harpley">Harpley</option>
                            <option value="Haven Wollert">Haven Wollert</option>
                            <option value="Hazelcroft">Hazelcroft</option>
                            <option value="Highgrove">Highgrove</option>
                            <option value="Highlands">Highlands</option>
                            <option value="Mandalay">Mandalay</option>
                            <option value="Quarters">Quarters</option>
                            <option value="Ramlegh Springs">Ramlegh Springs</option>
                            <option value="The Address">The Address</option>
                            <option value="The Boulevard - Kilora Park">The Boulevard</option>
                            <option value="Trillium">Trillium</option>
                            <option value="Upper Point Cook ">Upper Point</option>
                            <option value="Woodlea">Woodlea</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2nd row of filters -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Storey</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="storey">
                            <option value="">All storeys</option>
                            <option value="Single">Single</option>
                            <option value="Double">Double</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Beds</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="beds">
                            <option value="">Any beds</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Baths</div>
                    <div class="col-md-9 field">
                        <select class="form-control" id="baths">
                            <option value="">Any baths</option>
                            <option value="2+">2+</option>
                            <option value="3+">3+</option>
                            <option value="4+">4+</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3rd row of filters -->
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Lot width</div>
                    <div class="col-md-9 field">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="col-md-3 lbl">Price range</div>
                    <div class="col-md-9 field">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>

    </div>

    <select2></select2>

    <!--<h1>Regions Table</h1>-->
    <div ng-repeat="r in mpRegionList track by $index">
        <div class="rowRegion">{{ r.Region }}</div>

        <table class="tableEstates" cellspacing="0" cellpadding="0">
            <tr>
                <th>Suburb</th>
                <th>Estate</th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Home Details</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Home Size</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Lot Width</div>
                </th>
                <th>
                    <div ng-show="regionPackagesOpen[r.Region] > 0">Fixed Price</div>
                </th>
                <th>&nbsp;</th>
            </tr>
        </table>

        <div ng-repeat="e in r.EstateList track by $index">
            <table class="tableEstates" cellspacing="0" cellpadding="0">
                <tr ng-click='showPackages = !showPackages; openPackage(r.Region, showPackages);'>
                    <td>{{ e.City }} </td>
                    <td>{{ e.Estate }} ({{ e.Counter }})&nbsp;&nbsp;&nbsp;&nbsp;from {{ (e.LowestPrice | currency).slice(0, -3) }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <!--<div class="rowCity" ng-click="showPackages = !showPackages">{{ e.City }} {{ e.Estate }} ({{ e.Counter }}) - from {{ (e.LowestPrice | currency).slice(0, -3) }}</div>-->

            <table class="tablePackages" ng-show="showPackages" cellspacing="0" cellpadding="0">
                <!--<tr>-->
                    <!--&lt;!&ndash;<th>PackageID</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>City</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Region</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Estate</th>&ndash;&gt;-->
                    <!--<th>Lot</th>-->
                    <!--<th>House Name</th>-->
                    <!--<th style="text-align: center;">Home Details</th>-->
                    <!--<th>Home Size</th>-->
                    <!--<th>Lot Width</th>-->
                    <!--&lt;!&ndash;<th>Land Size</th>&ndash;&gt;-->
                    <!--<th style="text-align: center;">Price</th>-->
                    <!--&lt;!&ndash;<th>Home Area</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Storeys</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Bedrooms</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Bathrooms</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Car Parks</th>&ndash;&gt;-->
                    <!--<th style="text-align: center;">PDF</th>-->
                <!--</tr>-->
                <tr ng-cloak ng-repeat="p in e.Packages" ng-click="openPDF(p.PDFFile)">
                    <!--<td> {{ p.PackageID }} </td>-->
                    <!--<td> {{ p.City }} </td>-->
                    <!--<td> {{ p.Region }} </td>-->
                    <!--<td> {{ p.Estate }} </td>-->
                    <td> Lot {{ p.Lot }} </td>
                    <td> {{ p.Home }} </td>
                    <td style="text-align: center;"><i class="icon-bed"></i>&nbsp;{{ p.Bedrooms }}&nbsp;&nbsp;&nbsp;<i class="icon-bath"></i>&nbsp;{{ p.Bathrooms }}&nbsp;&nbsp;&nbsp;<i class="icon-garage"></i>&nbsp;{{ p.CarParks }}</td>
                    <td> {{ p.HomeSize }} sq </td>
                    <td> {{ (p.LotWidth | number:1) }}m </td>
                    <!--<td> {{ p.LotArea }}m2 </td>-->
                    <td style="text-align: center;"> {{ (p.HomePrice | currency).slice(0, -3) }} </td>
                    <!--<td> {{ p.HomeArea }} </td>-->
                    <!--<td> {{ p.Storeys }} </td>-->
                    <!--<td> {{ p.Bedrooms }} </td>-->
                    <!--<td> {{ p.Bathrooms }} </td>-->
                    <!--<td> {{ p.CarParks }} </td>-->
                    <td style="text-align: center;"><a ng-href="{{ p.PDFFile }}">Download</a></td>
                </tr>
            </table>
        </div>

    </div>


    <div>
        <br/><br/>
        <h1>Packages Table</h1>
        <!--<table>-->
            <!--<tr>-->
                <!--<th>PackageID</th>-->
                <!--<th>City</th>-->
                <!--<th>Region</th>-->
                <!--<th>Estate</th>-->
                <!--<th>Home</th>-->
                <!--<th>Lot</th>-->
                <!--<th>Lot Width</th>-->
                <!--<th>Lot Area</th>-->
                <!--<th>Home Price</th>-->
                <!--<th>Home Area</th>-->
                <!--<th>Home Size</th>-->
                <!--<th>Storeys</th>-->
                <!--<th>Bedrooms</th>-->
                <!--<th>Bathrooms</th>-->
                <!--<th>Car Parks</th>-->
                <!--<th>PDF File</th>-->
            <!--</tr>-->
            <!--<tr ng-cloak ng-repeat="p in mpData">-->
                <!--<td> {{ p.PackageID }} </td>-->
                <!--<td> {{ p.City }} </td>-->
                <!--<td> {{ p.Region }} </td>-->
                <!--<td> {{ p.Estate }} </td>-->
                <!--<td> {{ p.Home }} </td>-->
                <!--<td> {{ p.Lot }} </td>-->
                <!--<td> {{ p.LotWidth }} </td>-->
                <!--<td> {{ p.LotArea }} </td>-->
                <!--<td> {{ (p.HomePrice | currency).slice(0, -3) }} </td>-->
                <!--<td> {{ p.HomeArea }} </td>-->
                <!--<td> {{ p.HomeSize }} </td>-->
                <!--<td> {{ p.Storeys }} </td>-->
                <!--<td> {{ p.Bedrooms }} </td>-->
                <!--<td> {{ p.Bathrooms }} </td>-->
                <!--<td> {{ p.CarParks }} </td>-->
                <!--<td><a ng-href="{{ p.PDFFile }}">Download PDF</a></td>-->
            <!--</tr>-->
        <!--</table>-->

        <pre>
            {{ mpData }}
        </pre>
    </div>


</div>

