<!DOCTYPE html>
<html>
<head>
    <title>Login to Nodeblog Express</title>
    <meta name="description" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!-- Load jQuery & Bootstrap js-->
    <script src="/js/framework/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Facicon.ico links -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Old Standard TT:400|Arapey:300' rel='stylesheet' type='text/css'>

    <!-- Page Animations -->
    <!--<script src="/js/anim/page-animations.js"></script>-->

    <!-- add jasny bootstrap -->
    <link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">
    <script src="/js/jasnybs/jasny-bootstrap.min.js"></script>

    <!-- HEADER - Custom Scripts -->
    {{{ block "header-scripts" }}}
</head>
<body>

{{{ body }}}

<!-- LOAD - Custom Scripts -->
{{#block "footer-scripts"}}
{{/block}}
<!-- END - Custom Scripts -->

</body>
</html>