{{#embed "layout"}}
    {{#content "header-scripts"}}
    <!-- JsonTree Plugin -->
    <script src="/js/jstree/jsonTree.js"></script>
    <link rel="stylesheet" href="/js/jstree/TreeStyle.css">

    <!-- Angular JS / Spreadsheets -->
    <script src="/js/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

    <link rel="stylesheet" href="/css/style.css">

    {{/content}}


    {{#content "footer-scripts"}}

    {{/content}}

{{/embed}}
