<html>
<head>

    <link rel="stylesheet" href="/js/themes/default/style.min.css" />

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/jstree.min.js"></script>

</head>
<body>

This is template text

{{{ body }}}

</body>

</html>