html {
    overflow-y: scroll;
}

.navbar-minimal
{
    background-color: #061524;
    min-height: 100px;
    padding-top: 25px;
    font-family: "Montserrat","HelveticaNeue","Helvetica Neue",sans-serif;
    letter-spacing: 0.1em;
    margin-left: -1px;
    -webkit-font-smoothing: antialiased;
    /*border-bottom: 1px solid #efefef;*/
    border-bottom-width: 1px;
    border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 100%) 5%;
}

.navbar-minimal a.brand-title
{
    margin-top: 0px;
    font-size: 1.5625em;
    letter-spacing: -0.0125em;
    font-weight: 400;
    color: #fff;
    padding: 15px 8px 15px 10px;
    -webkit-font-smoothing: antialiased;
}

.navbar-minimal a.brand-title:hover
{
    color: #ccc;
    text-decoration: none;
}

.brand-img {
    display: block;
    float: left;
    margin: -26px 0 10px 0;
}

.navbar-minimal .navbar-brand:hover
{
    color: #4d4d4d;
}

.navbar-right
{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 7px;
}

.navbar-default .navbar-right > li > a
{
    color: #ccc;
    font-size: 1em;
    padding: 10px 15px;
}

.navbar-default .navbar-right > li > a:hover
{
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-right > li > a.btn-buy
{
    background-color: #062534;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
}

.navbar-default .navbar-right > li > a.btn-buy:hover
{
    color: #fff;
    background-color: #062c3b;
}

body
{
    background-color: white;
}

.container
{
    max-width: 1400px;
}

.p20 { padding-top: 20px; }
.p40 { padding-top: 40px; }
.p60 { padding-top: 60px; }
.p80 { padding-top: 80px; }
.p100 { padding-top: 100px; }
.p120 { padding-top: 120px; }
.p140 { padding-top: 140px; }

.pr10 { padding-right: 10px; }
.pr20 { padding-right: 20px; }
.pr40 { padding-right: 40px; }
.pr60 { padding-right: 60px; }


footer {
    min-height: 100px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
}

footer a
{
    /*color: #ccc;*/
    font-size: 1em;
    padding: 10px 15px;
}

footer a:hover
{
    /*color: #fff;*/
    background-color: transparent;
    text-decoration: none;
}

section.app {
    min-height: 800px;
}

section.app h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 2em;
    font-weight: 300;
}

section.app p {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: 300;
}

section.app .btn-landing-1 {
    color: #fff;
    background-color: #207cdf;
    border-radius: 5px;
    border: none;
    padding: 11px 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1em;
    font-weight: 100;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
}

section.app .btn-landing-1:hover {
    color: #fff;
    background-color: #2090f3;
}

section.app .btn-panel {
    min-height: 350px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
}

section.app .btn-panel:hover {
    /*background-color: #fcf8e3;*/
    cursor: pointer;
}

section.app article.listing {
    width: 350px;
    min-height: 500px;
    margin-right: 20px;
    float: left;
    overflow: hidden;
}

section.app article.listing .panel:hover {
    background-color: #def2fc;
    cursor: pointer;
}

section.app article.listing p {
    font-size: 1.1em;
}

section.app article.listing a {
    text-decoration: none;
}

section.app .loader {
    padding: 20px;
}

@font-face {
    font-family: 'fontello';
    src: url('/css/font/fontello.eot?84657161');
    src: url('/css/font/fontello.eot?84657161#iefix') format('embedded-opentype'),
    url('/css/font/fontello.woff?84657161') format('woff'),
    url('/css/font/fontello.ttf?84657161') format('truetype'),
    url('/css/font/fontello.svg?84657161#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rea-icon {
    font-family: "fontello";
    font-style: normal;
}


@media (min-width: 768px) and (max-width: 991px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0;
    }

    .navbar-default .navbar-right > li > a {
        font-size: 0.95em;
    }

    .navbar-minimal .navbar-brand {
        font-size: 1.6em;
    }

    .content p, .content label {
        font-size: 18px;
    }

    .content h1
    {
        font-size: 1.575em;
    }

    .content h2
    {
        font-size: 1.2625em;
    }
}

@media (max-width: 767px) {

    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0;
    }

    .navbar-default .navbar-right > li > a {
        font-size: 0.9em;
    }

    .navbar-minimal .navbar-brand {
        font-size: 1.3em;
    }

    .content p, .content label {
        font-size: 18px;
    }

    .content h1
    {
        font-size: 1.475em;
    }

    .content h2
    {
        font-size: 1.1625em;
    }

    .navbar-right
    {
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 1.3em;
        padding-left: 30px;
    }

    .navbar-default .navbar-right > li > a {
        margin: 10px 0px;
    }

    .navbar-default .navbar-collapse
    {
        border: none;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
{
    .navbar-minimal {
        background-color: #fbfbfb;
    }

    .navbar-default .navbar-right > li > a {
        font-size: 0.9em;
    }

    .navbar-minimal .navbar-brand {
        font-size: 1.3em;
    }

    .content p, .content label {
        font-size: 16px;
    }

    .content h1
    {
        font-size: 1.475em;
    }

    .content h2
    {
        font-size: 1.1625em;
    }

    .navbar-right
    {
        margin-top: 24px;
        margin-bottom: 24px;
        font-size: 1.3em;
        padding-left: 30px;
    }

    .navbar-default .navbar-right > li > a {
        margin: 10px 0px;
    }

    .navbar-default .navbar-collapse
    {
        border: none;
    }
}