<!DOCTYPE html>
<html>
<head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="/css/framework/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/framework//font-awesome.min.css">

    <!-- Load jQuery -->
    <script src="/js/framework/jquery-1.11.3.min.js"></script>

    <!-- load angular and angular route via CDN -->
    <script src="/js/framework/angular.min.js"></script>
    <script src="/js/framework/angular-route.js"></script>
    <script src="/js/framework/angular-animate.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Old Standard TT:400|Arapey:300' rel='stylesheet' type='text/css'>

    <!-- Page Animations -->
    <script src="/js/anim/page-animations.js"></script>

    <!-- HEADER - Custom Scripts -->
    {{{ block "header-scripts" }}}

    <title>{{ pageTitle }}</title>
</head>
<body ng-app="app">

<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-minimal">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{{brand}}</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/pages/about-me"><i class="fa fa-child"></i>&nbsp;About Me</a></li>
                <li><a href="/blog"><i class="fa fa-comments-o"></i>&nbsp;Blog</a></li>
                <li><a href="/shop"><i class="fa fa-shopping-cart"></i>&nbsp;Shop</a></li>
                <li><a href="/pages/contact-me"><i class="fa fa-envelope-o"></i>&nbsp;Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

{{{ body }}}

<!-- LOAD - Custom Scripts -->
{{#block "footer-scripts"}}
{{/block}}
<!-- END - Custom Scripts -->
</body>
</html>