{{#contentFor "header-scripts"}}

    <!-- Angular JS / Spreadsheets -->
    <!--<script src="/{{spa.id}}/app.js"></script>-->
    <link rel="stylesheet" href="/css/pages-style.css">

    <!-- add jasny bootstrap -->
    <!--<link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">-->

{{/contentFor}}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container container-sml">

    <div class="view-slide-in">
        <div>
            <h1>About Me</h1>
            <hr class="hr--small">

            {{{ properties }}}

            <div class="content">

                {{{ overview }}}

            </div>
        </div>
    </div>

</div>
