{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/blog-style.css">

{{/contentFor}}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container container-sml">

    <div class="view-slide-in">
        <div>
            <h1 class="text-center">{{{ page-title }}}</h1>
            <hr class="hr--small">

            <div class="content">

                {{{ article-text }}}

            </div>
        </div>
    </div>

</div>

