{{#contentFor "header-scripts"}}

{{/contentFor}}


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container" style="padding-top: 100px;">

    <div ng-view></div>

</div>


{{#contentFor "footer-scripts"}}

{{/contentFor}}