<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Load jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Palanquin:300|Ubuntu:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

    <!-- LOAD - Custom Scripts -->
    {{#block "header-scripts"}}
    {{/block}}
    <!-- END - Custom Scripts -->

    <title>{{ appTitle }}</title>
</head>
<body ng-app="app">

    <!-- HEADER AND NAVBAR -->
    <header style="display: none;">
    <nav class="navbar navbar-default navbar-fixed-top navbar-pomegranate">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Fire-Ball-icon.png"
                    style="width: 32px; height: 32px; margin-top: -5px; margin-right: 3px;" />
                    <!-- <span>emblaze.io</span> -->
                    <!-- <span>nori.io</span> -->
                    <span>{{title}}</span>
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {{#embed "navbar-right"}}{{/embed}}
            </ul>
        </div>
    </nav>
    </header>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="container" style="padding-top: 100px;">

        <div ng-view></div>

    </div>

    <!-- LOAD - Custom Scripts -->
    {{#block "footer-scripts"}}
    {{/block}}
    <!-- END - Custom Scripts -->

</body>
</html>
