{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/landing-test-1.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,700|Playfair+Display' rel='stylesheet' type='text/css'>

    <script>
        function editwiki(slug) {
            window.location.href = '/{{slug}}/edit';
        }
    </script>

{{/contentFor}}

<!--<section class="story p140">-->
    <!--<div class="container">-->
        <!--<h1 class="text-center">Real estate deals<br/> shortlisted in minutes</h1>-->

        <!--<p class="text-center p40">Don't waste time finding deals... spend your time closing them.</p>-->
        <!--<p class="text-center">Deal Finder shortlists the latest property deals fit for your investment strategy.</p>-->
        <!--<p class="text-center p20">-->
            <!--<a href="#" class="pr40"><i class="fa fa-play-circle"></i>&nbsp;See How it Works</a>-->
            <!--<a href="#"><i class="fa fa-list-ul"></i>&nbsp;Review the Features</a>-->
        <!--</p>-->
        <!--<p class="text-center p40">-->
            <!--<button class="btn btn-landing-1">Buy Now for $200 month</button>-->
        <!--</p>-->

        <!--<p class="small text-center p40">Runs on Max OS X 10+, Windows 7 and above, Linux, Ubuntu and others.</p>-->

        <!--<p class="p60"></p>-->
        <!--&lt;!&ndash;<p class="p40">Hello {{ message }}</p>&ndash;&gt;-->
    <!--</div>-->
    <!--<div style="background-color: #FE9902; height: 5px;"></div>-->
    <!--<div style="background-color: #FA6501; height: 5px;"></div>-->
<!--</section>-->

<section class="article p140">
    <div class="container">
        <article>
            <header><h1 class="section-header">{{{ article-title }}}</h1></header>
            <p>{{{ article }}}</p>
        </article>
    </div>
</section>
