<div class="row">
    <div class="col-md-6">
        <h1 class="page-header-nounderline">Particle.io Dashboard</h1>
    </div>
    <div class="col-md-6">
        <input id="hdUpdateReport" type="text" value="" ng-model="hdUpdateReport" ng-change="updateReport()" style="display: none" />
        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 250px;">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>
</div>

<!--<pre>-->
<!--{{ particles | json }}-->
<!--</pre>-->

<div class="row">
    <div ng-repeat="(key, value) in totalTypeData" class="col-md-3">
        <div ng-click="filterTypeBy(key)" class="metric text-center" ng-class="{'bg-danger' : key == 'error', 'selected' : key == selectedType}">
            {{ value }}
        </div>
        <p class="text-center" style="font-size: 2em;">{{ key.replace('_', '') }}</p>
    </div>
</div>

<div class="row">
    <div ng-repeat="(key, value) in totalGroupData" class="col-md-3">
        <div ng-click="filterGroupBy(key)" class="metric text-center" ng-class="{'bg-danger' : key == 'error', 'selected' : key == selectedGroup}">
            {{ value }}
        </div>
        <p class="text-center" style="font-size: 1em;">{{ key.replace('_', '') }}</p>
    </div>
</div>

<h2 class="sub-header">Raw Particles <span ng-cloak class="badge">Type: {{ totalTypeData[selectedType] }}</span> <span ng-cloak class="badge">Group: {{ totalGroupData[selectedGroup] }}</span></h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created</th>
                <th>Group</th>
                <th>Type</th>
                <th>Particle</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in particles | typeFilter:selectedType | groupFilter:selectedGroup" ng-class="{'danger' : p.__type == 'error'}">
                <td style="white-space: nowrap;">{{ (!p.__createdutc) ? '' : p.__createdutc | date:'dd-MM-yyyy h:mm:ss a' }}</td>
                <td>{{ p.__group }}</td>
                <td>{{ p.__type }}</td>
                <td>{{ p.particle | json }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        //Remove local storage
        localStorage.removeItem('reportStartUTC');
        localStorage.removeItem('reportEndUTC');

        function shortID(length)
        {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for( var i=0; i < length; i++ )
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));

            localStorage['reportStartUTC'] = start.valueOf();
            localStorage['reportEndUTC'] = end.valueOf();
            $('#hdUpdateReport').val(shortID(10));
            $('#hdUpdateReport').change();
        }

        cb(moment().startOf('day'), moment().endOf('day'));

        $('#reportrange').daterangepicker({
            locale: {
                format: 'DD-MM-YYYY'
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

    });
</script>