{{#embed "pages-layout"}}

    {{#content "header-scripts"}}

        <!-- Angular JS / Spreadsheets -->
        <script src="app.js"></script>
        <link rel="stylesheet" href="css/pages-style.css">
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>-->


        <!-- add jasny bootstrap -->
        <link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">
        <script src="/js/jasnybs/jasny-bootstrap.min.js"></script>

    {{/content}}


    {{#content "footer-scripts"}}

    {{/content}}

{{/embed}}
