<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Load jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- load angular and angular route via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400|Ubuntu:300' rel='stylesheet' type='text/css'>

    <!-- LOAD - Custom Scripts -->
    {{#block "header-scripts"}}
    {{/block}}
    <!-- END - Custom Scripts -->

    <title>{{ appTitle }}</title>
</head>
<body ng-app="app">

    <nav id="firenodeMenu" class="navmenu navmenu-fixed-left offcanvas navbar-firenode-left" role="navigation">
        <div class="nav-logo text-center">
            <a href="javascript:void(0);">
                <img src="images/nodefire-logo.png" />
            </a>
        </div>
        <ul class="nav navmenu-nav">
            <li class="active"><a href="#"><i class="fa fa-th-list fa-lg"></i>My Nodes</a></li>
            <li><a href="#"><i class="fa fa-magnet fa-lg"></i>Connectors</a></li>
            <li><a href="#"><i class="fa fa-gear fa-lg"></i>Settings</a></li>
        </ul>
    </nav>
    <div class="navbar navbar-fixed-top navbar-firenode">
        <div>
            <div>
                <a class="navbar-menu" href="javascript:void(0);" data-toggle="offcanvas" data-target="#firenodeMenu" data-canvas="body">
                    <img src="images/menu-bars.svg" />
                </a>

                <a class="navbar-brand" href="/nodefire/">
                    <img src="images/btnNodeFire.png" style="margin-top: -5px; margin-right: 3px;" />
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {{#embed "navbar-right"}}
                {{/embed}}
            </ul>
        </div>
    </div>

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main" class="container" style="padding-top: 100px;">

        <div ng-view></div>

    </div>

    <!-- LOAD - Custom Scripts -->
    {{#block "footer-scripts"}}
    {{/block}}
    <!-- END - Custom Scripts -->
</body>
</html>
