<div id="main">
    This is the index content

    <div id="html1">
        {{{ nodesHTML }}}
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#html1').jstree();
        })
    </script>

</div>