{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/landing-test-1.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>

{{/contentFor}}

<section class="story p140">
    <div class="container">
        <h1 class="text-center">Real estate deals<br/> shortlisted in minutes</h1>

        <p class="text-center p40">Don't waste time finding deals... spend your time closing them.</p>
        <p class="text-center">Deal Finder shortlists the latest property deals fit for your investment strategy.</p>
        <p class="text-center p20">
            <a href="#" class="pr40"><i class="fa fa-play-circle"></i>&nbsp;See How it Works</a>
            <a href="#"><i class="fa fa-list-ul"></i>&nbsp;Review the Features</a>
        </p>
        <p class="text-center p40">
            <button class="btn btn-landing-1">Buy Now for $200 month</button>
        </p>

        <p class="small text-center p40">Runs on Max OS X 10+, Windows 7 and above, Linux, Ubuntu and others.</p>

        <p class="p60"></p>
        <!--<p class="p40">Hello {{ message }}</p>-->
    </div>
    <div style="background-color: #FE9902; height: 5px;"></div>
    <div style="background-color: #FA6501; height: 5px;"></div>
</section>

<section class="why p40">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr60">
                <h2>Capitalise on Cashflow deals.</h2>
                <p class="p20">Finding cashflow positive deals used to be time consuming because you need to know which location to target, rent averages for the property type and then calculate the feasibility of the property along with the financials of the deal.</p>
                <p class="p20">Don't let deals get bought up by other investors before you get to them, we have a shortlist of cashflow deals ready now across all of Australia!</p>
           </div>
            <div class="col-md-6 pr60">
                <h2>Uncover 'Add Value' deals.</h2>
                <p class="p20">Finding potential candidates for renovations, subdivisions or 'flipping' opportunities takes a keen eye and a knowledge of where to look.</p>
                <p class="p20">Oh wait, we've already uncovered potential 'add value' deals and have them shortlisted and ready for you to browse.</p>
            </div>
        </div>

        <div class="p60" style="margin-left: -14px;">
            <img src="/images/deal-finder-screenshot.png" width="1000" />
        </div>

        <div class="row p60">
            <div class="col-md-6">
                <p class="text-center">
                    <img src="/images/deal-finder.png" width="250" style="margin-top: -26px;" />
                </p>
            </div>
            <div class="col-md-6">
                <p class="p40 text-center">
                    <button class="btn btn-landing-1">Buy Now for $200 month</button>
                </p>
            </div>
        </div>

        <div class="p60"></div>

    </div>
</section>
