*
{
    -webkit-font-smoothing: antialiased;
}

body
{
    background-color: #eee;
}

#main
{
    padding: 5px;
    margin-top: 10px;
    /*color: #d8d8d8;*/
}

h1, h2, h3, h4, p
{
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #eee;
}

.navbar-default a.navbar-brand
{
    color: #5cb85c;
    letter-spacing: 1px;
    font-size: 2em;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar-default a.navbar-brand:hover
{
    color: #4cae4c;
}

.navbar-right
{
    margin-top: -8px;
    margin-bottom: 0px;
    margin-right: 7px;
}

.navbar-right > li > a
{
    color: #D8D8D8;
    font-size: 1.2em;
}

.navbar-right > li > a:hover
{
    color: white;
    background-color: transparent;
}
