{{#contentFor "header-scripts"}}

    <link rel="stylesheet" href="/css/pages-style.css">

{{/contentFor}}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container container-sml">

    <div class="view-slide-in">
        <div>
            <h1>About Me</h1>
            <hr class="hr--small">

            <div class="content">

                {{{ overview }}}

            </div>
        </div>
    </div>

</div>
