{{#contentFor "header-scripts"}}

    <!-- Angular JS / Spreadsheets -->
    <script src="/js/framework/angular.min.js"></script>
    <script src="/js/framework/angular-route.js"></script>
    <script src="/js/framework/angular-animate.min.js"></script>

    <script src="/{{ spa.id }}/js/app.js"></script>
    <link rel="stylesheet" href="/css/pages-style.css">

    <!-- add jasny bootstrap -->
    <link rel="stylesheet" href="/js/jasnybs/jasny-bootstrap.min.css">
    <script src="/js/jasnybs/jasny-bootstrap.min.js"></script>

{{/contentFor}}

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main" class="container container-sml" ng-controller="contactController">

    <div class="view-slide-in">

        <div>
            <h1>Contact Me</h1>
            <hr class="hr--small">

            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        {{{ adam-contact-details }}}
                    </div>
                    <div class="col-md-6">
                        <p><strong>Send Email Message.</strong></p>
                        <div ng-cloak ng-show="sendEmailStatus===1" class="alert alert-warning" role="alert">
                            Sending Email to Adam via Node...
                        </div>
                        <div ng-cloak ng-show="sendEmailStatus===2" class="alert alert-success role="alert">
                            <strong>Success!</strong> Email send successfully!
                        </div>

                        <form ng-show="sendEmailStatus===0" id="frmContact" ng-submit="submitContact()">
                            <div class="form-group">
                                <label for="txtName">Your Name:</label>
                                <input type="text" class="form-control" ng-model="formData.name" placeholder="Your name here..." />
                            </div>
                            <div class="form-group">
                                <label for="txtEmail">Email address:</label>
                                <input type="email" class="form-control" ng-model="formData.email" placeholder="Your email here..." />
                            </div>
                            <div class="form-group">
                                <label for="txtEmail">Message:</label>
                                <textarea rows="5" class="form-control" ng-model="formData.message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Send Email
                            </button>
                            <br/><br/><br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


